@import "theme";

#tab {
  .state-annule {
    background: lighten($color1, 10);
  }
  .state-options {
    background: $color1;
  }
  .state-confirme {
    background: $color2;
  }
  .state-actif {
    background: $color1;
  }
  .state-inactif {
    background: $color2;
  }
  tbody > * {
    display: contents;
  }
}

app-template-a #tab thead {
  background: $dark-color;
  color: $light-color;
}

